<a href="https://colab.research.google.com/github/StonHead/API_Assessment/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print even numbers from 1 to 100

In [ ]:
for a in range(1,101):
  if(a%2==0):
    print(a)

Even numbers using lambda function

In [ ]:
even = lambda x : x*2

for a in range(1,100):
  if(even(a)<=100):
    print(even(a))

Check whether a given year is a leap year or not

Print prime Numbers b/w 1 to 100

In [50]:
def is_prime(start,end):
  prime = list()

  sieve = [True]*(end+1)

#below 2 is the starting point in range instead of start because 1 is not a prime no. so range will always starts from 2

  for a in range(2,end+1):
    if(sieve[a]):
      if(a>=start):
        prime.append(a)
    for b in range(a,end+1,a):
      sieve[b] = False

  return prime

#added below variable to optimized the code so that there is no need to call a function twice in the print command, please provide input in below variable to run
result = is_prime(start,end)

print("Total no. of prime nos.:" , len(result))
print(result)

Total no. of prime nos.: 21
[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Merging 3 lists together

In [6]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

d = zip(a,b,c)
print(list(d))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [16]:
for a in range (2,3):
  print(a)

2